@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

/* ... other imports */

/* You can also set the font family globally here */
body {
  font-family: 'Roboto', sans-serif;
}